@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,900);/* index.css */
* {
  box-sizing: border-box;
  font-size: 16px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  scroll-behavior: smooth;
  font-family: 'Montserrat+Alternatives', sans-serif, mono-sans;
  margin: 0 auto; }

#layout {
  max-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 85vh 40px;
  grid-template-areas: "header" "content" "footer"; }

.loader {
  height: 80vh;
  width: 80vw; }

#header {
  grid-area: header;
  display: flex;
  flex-flow: row;
  max-width: 100vw;
  height: 40px;
  justify-content: space-around;
  background: #fc4e07;
  padding-left: 10px; }

#content {
  grid-area: content;
  max-width: 100vw;
  display: flex; }

#component {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: column;
  overflow-y: scroll;
  padding: 10px;
  max-height: 100%;
  width: 100vw; }

#footer {
  grid-area: footer;
  max-width: 100vw;
  display: flex;
  flex-flow: wrap;
  padding: 10px;
  justify-content: center; }

/* Flexbox Grid */

.left {
  order: 1;
  margin-right: auto; }

.right {
  order: 2;
  margin-left: auto; }

.container {
  display: flex;
  flex-flow: column;
  transition-duration: .3s;
  min-height: 150px; }
  .container:hover h1 {
    color: #000000; }

.top {
  order: 1;
  display: flex;
  flex-flow: column; }

.bottom {
  order: 2;
  display: flex;
  flex-flow: row; }

.nudgeRight {
  padding-left: 30px; }

.title {
  margin: 0; }

.subTitle {
  margin-right: auto;
  padding-bottom: 10px; }

.points {
  color: #fc4e07; }

.tab {
  flex-basis: 20%;
  display: flex;
  font-size: 14px;
  text-decoration: none;
  justify-content: space-around;
  align-content: flex-end;
  letter-spacing: 1px;
  transition: .2s;
  color: white; }
  .tab:hover {
    color: #000000;
    letter-spacing: 2px; }

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  transition-duration: .2s;
  letter-spacing: 1px; }
  .btn:hover {
    box-shadow: 0px 1px 2px 0px rgba(20, 29, 37, 0.2);
    letter-spacing: 2px;
    color: #2980b9; }

.comments {
  z-index: 1;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
  grid-area: 1 / 3; }

.comment {
  z-index: 1;
  padding: 4px;
  box-shadow: 0px 8px 16px 0px rgba(20, 29, 37, 0.2);
  width: 100%;
  flex-basis: 20%;
  font-size: 24px;
  align-items: center;
  grid-area: 1 / 3;
  color: #141d25;
  background-color: white;
  letter-spacing: 1px;
  transition: .5s; }

/* Media Qs */
@media (min-width: 668px) {
  * {
    font-size: 18px; }
  #layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: "header" "content" "footer"; }
  .hamburger {
    display: none; }
  .tab {
    font-size: 1.5rem;
    line-height: 2.5rem; } }
/*
==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/
/*
==============================================
slideDown
==============================================
*/
.reverseAnimation {
  animation-direction: reverse;
  animation-fill-mode: both; }

.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(8%); }
  65% {
    transform: translateY(-4%); }
  80% {
    transform: translateY(4%); }
  95% {
    transform: translateY(-2%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%); }
  50% {
    -webkit-transform: translateY(8%); }
  65% {
    -webkit-transform: translateY(-4%); }
  80% {
    -webkit-transform: translateY(4%); }
  95% {
    -webkit-transform: translateY(-2%); }
  100% {
    -webkit-transform: translateY(0%); } }

/*
==============================================
slideUp
==============================================
*/
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important; }

@keyframes slideUp {
  0% {
    transform: translateY(100%); }
  50% {
    transform: translateY(-8%); }
  65% {
    transform: translateY(4%); }
  80% {
    transform: translateY(-4%); }
  95% {
    transform: translateY(2%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%); }
  50% {
    -webkit-transform: translateY(-8%); }
  65% {
    -webkit-transform: translateY(4%); }
  80% {
    -webkit-transform: translateY(-4%); }
  95% {
    -webkit-transform: translateY(2%); }
  100% {
    -webkit-transform: translateY(0%); } }

/*
==============================================
slideLeft
==============================================
*/

@keyframes slideLeft {
  0% {
    transform: translateX(150%); }
  50% {
    transform: translateX(-8%); }
  65% {
    transform: translateX(4%); }
  80% {
    transform: translateX(-4%); }
  95% {
    transform: translateX(2%); }
  100% {
    transform: translateX(0%); } }

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(150%); }
  50% {
    -webkit-transform: translateX(-8%); }
  65% {
    -webkit-transform: translateX(4%); }
  80% {
    -webkit-transform: translateX(-4%); }
  95% {
    -webkit-transform: translateX(2%); }
  100% {
    -webkit-transform: translateX(0%); } }

/*
==============================================
slideRight
==============================================
*/
.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important; }

@keyframes slideRight {
  0% {
    transform: translateX(-150%); }
  50% {
    transform: translateX(8%); }
  65% {
    transform: translateX(-4%); }
  80% {
    transform: translateX(4%); }
  95% {
    transform: translateX(-2%); }
  100% {
    transform: translateX(0%); } }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-150%); }
  50% {
    -webkit-transform: translateX(8%); }
  65% {
    -webkit-transform: translateX(-4%); }
  80% {
    -webkit-transform: translateX(4%); }
  95% {
    -webkit-transform: translateX(-2%); }
  100% {
    -webkit-transform: translateX(0%); } }

/*
==============================================
slideExpandUp
==============================================
*/

@keyframes slideExpandUp {
  0% {
    transform: translateY(100%) scaleX(0.5); }
  30% {
    transform: translateY(-8%) scaleX(0.5); }
  40% {
    transform: translateY(2%) scaleX(0.5); }
  50% {
    transform: translateY(0%) scaleX(1.1); }
  60% {
    transform: translateY(0%) scaleX(0.9); }
  70% {
    transform: translateY(0%) scaleX(1.05); }
  80% {
    transform: translateY(0%) scaleX(0.95); }
  90% {
    transform: translateY(0%) scaleX(1.02); }
  100% {
    transform: translateY(0%) scaleX(1); } }

@-webkit-keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(0.5); }
  30% {
    -webkit-transform: translateY(-8%) scaleX(0.5); }
  40% {
    -webkit-transform: translateY(2%) scaleX(0.5); }
  50% {
    -webkit-transform: translateY(0%) scaleX(1.1); }
  60% {
    -webkit-transform: translateY(0%) scaleX(0.9); }
  70% {
    -webkit-transform: translateY(0%) scaleX(1.05); }
  80% {
    -webkit-transform: translateY(0%) scaleX(0.95); }
  90% {
    -webkit-transform: translateY(0%) scaleX(1.02); }
  100% {
    -webkit-transform: translateY(0%) scaleX(1); } }

/*
==============================================
expandUp
==============================================
*/

@keyframes expandUp {
  0% {
    transform: translateY(100%) scale(0.6) scaleY(0.5); }
  60% {
    transform: translateY(-7%) scaleY(1.12); }
  75% {
    transform: translateY(3%); }
  100% {
    transform: translateY(0%) scale(1) scaleY(1); } }

@-webkit-keyframes expandUp {
  0% {
    -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5); }
  60% {
    -webkit-transform: translateY(-7%) scaleY(1.12); }
  75% {
    -webkit-transform: translateY(3%); }
  100% {
    -webkit-transform: translateY(0%) scale(1) scaleY(1); } }

/*
==============================================
fadeIn
==============================================
*/

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0; }
  60% {
    transform: scale(1.1); }
  80% {
    transform: scale(0.9);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  60% {
    -webkit-transform: scale(1.1); }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

/*
==============================================
expandOpen
==============================================
*/

@keyframes expandOpen {
  0% {
    transform: scale(1.8); }
  50% {
    transform: scale(0.95); }
  80% {
    transform: scale(1.05); }
  90% {
    transform: scale(0.98); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes expandOpen {
  0% {
    -webkit-transform: scale(1.8); }
  50% {
    -webkit-transform: scale(0.95); }
  80% {
    -webkit-transform: scale(1.05); }
  90% {
    -webkit-transform: scale(0.98); }
  100% {
    -webkit-transform: scale(1); } }

/*
==============================================
bigEntrance
==============================================
*/

@keyframes bigEntrance {
  0% {
    transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2; }
  30% {
    transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1; }
  45% {
    transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  60% {
    transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  75% {
    transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  90% {
    transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; }
  100% {
    transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; } }

@-webkit-keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2; }
  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; } }

/*
==============================================
hatch
==============================================
*/

@keyframes hatch {
  0% {
    transform: rotate(0deg) scaleY(0.6); }
  20% {
    transform: rotate(-2deg) scaleY(1.05); }
  35% {
    transform: rotate(2deg) scaleY(1); }
  50% {
    transform: rotate(-2deg); }
  65% {
    transform: rotate(1deg); }
  80% {
    transform: rotate(-1deg); }
  100% {
    transform: rotate(0deg); } }

@-webkit-keyframes hatch {
  0% {
    -webkit-transform: rotate(0deg) scaleY(0.6); }
  20% {
    -webkit-transform: rotate(-2deg) scaleY(1.05); }
  35% {
    -webkit-transform: rotate(2deg) scaleY(1); }
  50% {
    -webkit-transform: rotate(-2deg); }
  65% {
    -webkit-transform: rotate(1deg); }
  80% {
    -webkit-transform: rotate(-1deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

/*
==============================================
bounce
==============================================
*/

@keyframes bounce {
  0% {
    transform: translateY(0%) scaleY(0.6); }
  60% {
    transform: translateY(-100%) scaleY(1.1); }
  70% {
    transform: translateY(0%) scaleY(0.95) scaleX(1.05); }
  80% {
    transform: translateY(0%) scaleY(1.05) scaleX(1); }
  90% {
    transform: translateY(0%) scaleY(0.95) scaleX(1); }
  100% {
    transform: translateY(0%) scaleY(1) scaleX(1); } }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%) scaleY(0.6); }
  60% {
    -webkit-transform: translateY(-100%) scaleY(1.1); }
  70% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05); }
  80% {
    -webkit-transform: translateY(0%) scaleY(1.05) scaleX(1); }
  90% {
    -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1); }
  100% {
    -webkit-transform: translateY(0%) scaleY(1) scaleX(1); } }

/*
==============================================
pulse
==============================================
*/

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 0.7; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; } }

/*
==============================================
floating
==============================================
*/

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }

/*
==============================================
tossing
==============================================
*/

@keyframes tossing {
  0% {
    transform: rotate(-4deg); }
  50% {
    transform: rotate(4deg); }
  100% {
    transform: rotate(-4deg); } }

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg); }
  50% {
    -webkit-transform: rotate(4deg); }
  100% {
    -webkit-transform: rotate(-4deg); } }

/*
==============================================
pullUp
==============================================
*/

@keyframes pullUp {
  0% {
    transform: scaleY(0.1); }
  40% {
    transform: scaleY(1.02); }
  60% {
    transform: scaleY(0.98); }
  80% {
    transform: scaleY(1.01); }
  100% {
    transform: scaleY(0.98); }
  80% {
    transform: scaleY(1.01); }
  100% {
    transform: scaleY(1); } }

@-webkit-keyframes pullUp {
  0% {
    -webkit-transform: scaleY(0.1); }
  40% {
    -webkit-transform: scaleY(1.02); }
  60% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(1); } }

/*
==============================================
pullDown
==============================================
*/

@keyframes pullDown {
  0% {
    transform: scaleY(0.1); }
  40% {
    transform: scaleY(1.02); }
  60% {
    transform: scaleY(0.98); }
  80% {
    transform: scaleY(1.01); }
  100% {
    transform: scaleY(0.98); }
  80% {
    transform: scaleY(1.01); }
  100% {
    transform: scaleY(1); } }

@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1); }
  40% {
    -webkit-transform: scaleY(1.02); }
  60% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(0.98); }
  80% {
    -webkit-transform: scaleY(1.01); }
  100% {
    -webkit-transform: scaleY(1); } }

/*
==============================================
stretchLeft
==============================================
*/

@keyframes stretchLeft {
  0% {
    transform: scaleX(0.3); }
  40% {
    transform: scaleX(1.02); }
  60% {
    transform: scaleX(0.98); }
  80% {
    transform: scaleX(1.01); }
  100% {
    transform: scaleX(0.98); }
  80% {
    transform: scaleX(1.01); }
  100% {
    transform: scaleX(1); } }

@-webkit-keyframes stretchLeft {
  0% {
    -webkit-transform: scaleX(0.3); }
  40% {
    -webkit-transform: scaleX(1.02); }
  60% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(1); } }

/*
==============================================
stretchRight
==============================================
*/
.stretchRight {
  animation-name: stretchRight;
  -webkit-animation-name: stretchRight;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%; }

@keyframes stretchRight {
  0% {
    transform: scaleX(0.3); }
  40% {
    transform: scaleX(1.02); }
  60% {
    transform: scaleX(0.98); }
  80% {
    transform: scaleX(1.01); }
  100% {
    transform: scaleX(0.98); }
  80% {
    transform: scaleX(1.01); }
  100% {
    transform: scaleX(1); } }

@-webkit-keyframes stretchRight {
  0% {
    -webkit-transform: scaleX(0.3); }
  40% {
    -webkit-transform: scaleX(1.02); }
  60% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(0.98); }
  80% {
    -webkit-transform: scaleX(1.01); }
  100% {
    -webkit-transform: scaleX(1); } }

/* https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css */
/*
   * Elastic
   */

/*
   * Elastic Reverse
   */
.holder {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff6600; }
  .holder .preloader {
    /* size */
    width: 150px;
    height: 150px;
    position: absolute;
    left: 35%;
    top: 35%;
    transform: translateX(-25%) translateY(-50%);
    animation: rotatePreloader 2s infinite ease-in; }

@keyframes rotatePreloader {
  0% {
    transform: translateX(-25%) translateY(-50%) rotateZ(0deg); }
  100% {
    transform: translateX(-25%) translateY(-50%) rotateZ(-360deg); } }
  .holder .preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; }
  .holder .preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: #000000;
    transform: translateX(-50%);
    border-radius: 50%; }
  .holder .preloader div:nth-child(1) {
    transform: rotateZ(0deg);
    animation: rotateCircle1 2s infinite linear;
    z-index: 6; }

@keyframes rotateCircle1 {
  0% {
    opacity: 0; }
  0% {
    opacity: 1;
    transform: rotateZ(51.42857deg); }
  9.14286% {
    transform: rotateZ(0deg); }
  59.14286% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(2) {
    transform: rotateZ(51.42857deg);
    animation: rotateCircle2 2s infinite linear;
    z-index: 5; }

@keyframes rotateCircle2 {
  7.14286% {
    opacity: 0; }
  7.14296% {
    opacity: 1;
    transform: rotateZ(0deg); }
  16.28571% {
    transform: rotateZ(-51.42857deg); }
  66.28571% {
    transform: rotateZ(-51.42857deg); }
  100% {
    transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(3) {
    transform: rotateZ(102.85714deg);
    animation: rotateCircle3 2s infinite linear;
    z-index: 4; }

@keyframes rotateCircle3 {
  14.28571% {
    opacity: 0; }
  14.28591% {
    opacity: 1;
    transform: rotateZ(-51.42857deg); }
  23.42857% {
    transform: rotateZ(-102.85714deg); }
  73.42857% {
    transform: rotateZ(-102.85714deg); }
  100% {
    transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(4) {
    transform: rotateZ(154.28571deg);
    animation: rotateCircle4 2s infinite linear;
    z-index: 3; }

@keyframes rotateCircle4 {
  21.42857% {
    opacity: 0; }
  21.42887% {
    opacity: 1;
    transform: rotateZ(-102.85714deg); }
  30.57143% {
    transform: rotateZ(-154.28571deg); }
  80.57143% {
    transform: rotateZ(-154.28571deg); }
  100% {
    transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(5) {
    transform: rotateZ(205.71429deg);
    animation: rotateCircle5 2s infinite linear;
    z-index: 2; }

@keyframes rotateCircle5 {
  28.57143% {
    opacity: 0; }
  28.57183% {
    opacity: 1;
    transform: rotateZ(-154.28571deg); }
  37.71429% {
    transform: rotateZ(-205.71429deg); }
  87.71429% {
    transform: rotateZ(-205.71429deg); }
  100% {
    transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(6) {
    transform: rotateZ(257.14286deg);
    animation: rotateCircle6 2s infinite linear;
    z-index: 1; }

@keyframes rotateCircle6 {
  35.71429% {
    opacity: 0; }
  35.71479% {
    opacity: 1;
    transform: rotateZ(-205.71429deg); }
  44.85714% {
    transform: rotateZ(-257.14286deg); }
  94.85714% {
    transform: rotateZ(-257.14286deg); }
  100% {
    transform: rotateZ(-308.57143deg);
    opacity: 1; } }
  .holder .preloader div:nth-child(7) {
    transform: rotateZ(308.57143deg);
    animation: rotateCircle7 2s infinite linear;
    z-index: 0; }

@keyframes rotateCircle7 {
  42.85714% {
    opacity: 0; }
  42.85774% {
    opacity: 1;
    transform: rotateZ(-257.14286deg); }
  52% {
    transform: rotateZ(-308.57143deg); }
  102% {
    transform: rotateZ(-308.57143deg); }
  100% {
    transform: rotateZ(-308.57143deg);
    opacity: 1; } }

/*# sourceMappingURL=main-c40f9cad0ca6c2f2191d.css.map*/