/* index.css */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400");

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  margin: 0 auto;
}

#layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-gap: 10px;
  grid-template-areas: "header" "content" "footer";
}

.loader {
  height: 80vh;
  width: 80vw;
}

#header {
  grid-area: header;
  padding-top: 10px;
  border-bottom: 1px dashed black;
  display: flex;
  flex-flow: row;
  width: 100%;
  align-content: center;
  justify-content: flex-start;
  margin: 0 auto;
}

#content {
  grid-area: content;
  padding: 0 10px;
  margin: 0 auto;
}

#component {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-content: stretch;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  overflow-y: scroll;
  padding: 4px;
  max-height: 100%;
}

#sidebar {
  position: absolute;
  top: 5vh;
  left: 3vw;
  width: 90vw;
  height: 200vw;
  background: rgba(52, 73, 94, .5);
  z-index: 1000;
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: flex-start;
}

#footer {
  border-top: 1px dashed black;
  grid-area: footer;
  display: flex;
  flex-flow: wrap;
}

.grid-item {
  border: 0.2px dashed black;
  display: flex;
  flex-grow: 1;
  width: 50vw;
  margin: 10px;
}

.tab {
  flex-basis: 20%;
  line-height: 6rem;
  font-size: 3rem;
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
  align-content: flex-end;
  color: white;

  &:hover {
    background-color: rgba(52, 73, 94, .5);
  }
}

.hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
  margin-left: 10px;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px;
}

.changeLimits {
  position: absolute;
  right: 20px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
}

.changeLimitBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px;
}

.limits {
  z-index: 100;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center;
}

.limit {
  z-index: 100;
  padding: 4px;
  opacity: 0;
  width: 100%;
  flex-basis: 20%;
  font-size: 24px;
  align-items: center;

  &:hover {
    background-color: rgba(52, 73, 94, 5);
  }
}

/* Flexbox Grid */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

/* Media Qs */

@media (min-width: 668px) {
  * {
    font-size: 18px;
  }

  #layout {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 10px;
    grid-template-areas: ". header header" "sidebar content content" "footer footer footer";
  }

  .tab {
    color: inherit;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  #sidebar {
    grid-area: sidebar;
    position: inherit;
    top: inherit;
    left: inherit;
    width: inherit;
    height: 80vh;
    background: inherit;
    border-right: 1px dashed black;
    z-index: 0;
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    scroll: no;
  }
}
