/* index.css */
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,900');

* {
  box-sizing: border-box;
  font-family: 'Montserrat+Alternatives', sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.bold {
  font-weight: 900;
}

body,
html {
  scroll-behavior: smooth;
  margin: 0 auto;
}

#layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  grid-gap: 10px;
  grid-template-areas: "header" "content" "footer";
}

.loader {
  height: 80vh;
  width: 80vw;
}

#header {
  grid-area: header;
  padding-top: 10px;
  display: flex;
  flex-flow: row;
  width: 100%;
  align-content: center;
  justify-content: flex-start;
  margin: 0 auto;
}

#content {
  grid-area: content;
  display: flex;
}

#component {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: column;
  overflow-y: scroll;
  padding: 4px;
  max-height: 100%;
  width: 100%;
}

.navigationModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 400px;
  min-height: 800px;
  background: rgba(20, 29, 37, .9);
  z-index: 1;
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  line-height: 5rem;
  align-content: flex-start;
  transition: .5s;
}

#footer {
  grid-area: footer;
  display: flex;
  flex-flow: wrap;
  padding: 10px;
  justify-content: center;
}

.grid-item {
  min-height: fit-content;
  padding: 4px 10px;
  border: 1.5px dashed grey;
  display: flex;
  flex-grow: 1;
  margin: 10px auto;
  transition-duration: .3s;
  width: 60vw;
  min-width: 280px;

  &:hover {
    border: 1.5px dashed #2980b9;
    box-shadow: 0px 2px 4px 0px rgba(20, 29, 37, 0.2);

    h1 {
      color: #2980b9;
    }
  }

  .photo {
    h1:{
      padding: 4px;
      flex: 3;
      left:auto;
    }

    img {
    max-width: 150px;
    min-width: 150px;
    }
  }

  &.user {
    flex-flow: column wrap;
    /* width: 90vw; */
    display: flex;
  }
}

.tab {
  padding-left: 20px;
  flex-basis: 20%;
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: center;
  font-size: 3rem;
  color: white;
  letter-spacing: 1px;
  transition: .2s;

  &:hover {
    color: #2980b9;
    letter-spacing: 2px;
  }
}

.hamburger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
  margin-left: 10px;

  &:hover > * {
    fill: #2980b9;
  }
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px;
}

.changeLimits {
  position: absolute;
  right: 20px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  button:focus {
    outline: 0;
  }
  button:active {
    color: #2980b9;
  }
}

.changeLimitBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  transition-duration: .2s;
  letter-spacing: 1px;

  &:hover {
    box-shadow: 0px 1px 2px 0px rgba(20, 29, 37, 0.2);
    letter-spacing: 2px;
    color: #2980b9;
  }
}

.limits {
  z-index: 1;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;
  grid-area: 1 / 3;
}

.limit {
  z-index: 1;
  padding: 4px;
  box-shadow: 0px 8px 16px 0px rgba(20, 29, 37, 0.2);
  width: 100%;
  flex-basis: 20%;
  font-size: 24px;
  align-items: center;
  grid-area: 1 / 3;
  color: rgba(20, 29, 37, 1);
  background-color: white;
  letter-spacing: 1px;
  transition: .5s;

  &:hover {
    box-shadow: 0px 1px 2px 0px rgba(20, 29, 37, 0.2);
    letter-spacing: inherit;
    color: #2980b9;
  }
}

/* Flexbox Grid */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

/* Media Qs */

@media (min-width: 668px) {
  * {
    font-size: 18px;
  }

  #layout {
    height: 100vh;
    display: grid;
    grid-template-columns: .1fr 3fr 1fr;
    grid-gap: 10px;
    grid-template-areas: ". header header" "sidebar content content" "footer footer footer";
  }

  .hamburger {
    display: none;
  }

  .tab {
    color: inherit;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  #sidebar {
    grid-area: sidebar;
    min-width: 225px;
    min-height: inherit;
    height: 80vh;
    background: inherit;
    padding: 30px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    transition: .2s;
  }

  .grid-item {
    max-width: 75vw;

    &.user {
      max-width: 50vw;
    }
  }
}
